.jumbotron {
    background-color: red;
}

h1 {
    font-family: 'Faster One', cursive;
}

.score {
    font-family: 'Orbitron', sans-serif;
}

.highScore {
    font-family: 'Orbitron', sans-serif;
}

.message {
    font-family: 'Orbitron', sans-serif;
}


